body {
    font-family: 'Courier New', Courier, monospace;
    background: #0B0D0F;
    color: #F8F8F2;
    text-align: center
}
ul {
    text-align: center;
    list-style-position: inside;
}
a:link {
    color: #80FFEA
}
a:visited {
    color: #80FFEA
}

h1 {
    color: #8AFF80;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h2 {
    color: #FF9580;
    font-size: 30px;
}
h3 {
    font-size: 25px;
    color: #9580FF;
}